<!DOCTYPE html>
<html lang="en">
<head>
  <title>Referral code</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="/static/style_one.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="nav-scroller box-shadow row ml-05 mr-05">
    <nav class="nav nav-underline">
        <a class="nav-link font-weight-bold col-3 col-md-3 col-xs-3 active" href="/">Home</a>
        <a class="nav-link col-3 col-md-3 col-xs-3" href="#">Profile</a>
        <a class="nav-link col-3 col-md-3 col-xs-3" href="/client/logout">Logout</a>
    </nav>
</div>
    <p>{{ .message }}</p>
  </body>
</html>